.related-skills {
  display: flex;
  flex-direction: column;
  background-color: #ededed;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 90%;
  .header {
    font-size: 24px;
    font-weight: bold;
    margin: 10px 0px;
    padding: 0%;
    text-decoration: underline;
    cursor: pointer;
  }

  .card-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    width: 100%;

    .skill-card {
      width: 30%;
    }
  }
}
.bold {
  font-weight: bold;
}
