.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}

.jobs-component {
  height: 100px;
  text-align: center;
  .loader {
    text-align: center;
    padding: 10px;

    button {
      padding: 10px 20px;
      background-color: #007bff;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;

      &:hover {
        background-color: #0056b3;
      }
    }
  }

  .end-message {
    text-align: center;
    padding: 10px;
    font-size: 1.2em;
  }
}
